*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
.edit-btn{
    margin-right: -50px;
}
.del-btn{
    margin-right: 50px;
}
body{
    background-image: url(./assets/bg-3.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    
}